body {
background-color: #d0e5f0;
color: #1A374D;
font-family: Arial, Helvetica, sans-serif ;
font-size: 16px;
line-height: normal;
}

h1 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #1A374D;
  line-height: normal;
}

h2 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: #406882;
}

a {
  text-decoration: none;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 5px #1A374D;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.fab {
  font-size: 32px;
  color: #406882;
  text-decoration: none;
}

.fab:hover {
  opacity: 0.7;
}

#avatar {
  width: 200px;
  border-radius: 50%;
}

#btn {
  background-color: #406882;
  border-radius: 4px;
  color: white;
  padding: 12px;
}

#btn:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 1px #1A374D;
}

#first-card {
  padding-bottom: 40px;
}

#description {
  padding: 16px;
}

ul {
  list-style-type: none;
  margin-right: 50px;
}

li {
  display: inline;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  /* responsive only for small screens like phones otherwise container 500px */
  .container {
    width: 300px;
  }
}

#workshop {
  background-image: url("images/lachlan-donald-YVT5aF2QM7M-unsplash.jpg");
  background-size: cover;
  height: 200px;
}
